html,
body,
main
    height: 105vh
    max-height: 100%
    background: linear-gradient(to bottom right, #191d20, #1d2126)
    color: #bdbdbd
    max-width: 100%

a, navbar-brand
    color: #bdbdbd !important
p
    color: #bdbdbd
.bg-black
    background: #000

.sidebar-column, .actions-column
    height: 105vh
    max-height: 100%
    padding-top: 20px
.sidebar-column
    background: linear-gradient(to bottom right, #25272a, #212325)
.actions-column
    opacity: 0.1
    background: #000
.work-column
    border-left: 1px solid #0374a4
.sidebar-point
    margin-top: 5px
    &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: #000
        transform: scale(0)
        transition: all .3s
    &:hover
        cursor: pointer !important
        &:after
            content: ''
            display: block
            width: 100%
            height: 1px
            background: #bdbdbd
            transform: scale(1)
