html,
body,
main
    height: 100vh
    max-height: 100%
    background: linear-gradient(to bottom right, #000, #222222)
    color: #bdbdbd
    max-width: 100%

a, navbar-brand
    color: #bdbdbd !important
p
    color: #bdbdbd
.bg-black
    background: #000
.sidebar-column, .actions-column
    height: 95vh
    max-height: 100%
    border-left: 1px solid #444444
.sidebar-point
    margin-top: 5px
    &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: #000
        transform: scale(0)
        transition: all .3s
    &:hover
        cursor: pointer !important
        &:after
            content: ''
            display: block
            width: 100%
            height: 1px
            background: #bdbdbd
            transform: scale(1)
